## Команда `print`

Первая программа на Python:

In [ ]:
print("Hello world")

Hello world

Каждый вызов `print` выводит свою строку:

In [ ]:
print("Первая строка")
print("Вторая строка")
print('Третья строка')
# print('Третья строка") Ошибка

Первая строка
Вторая строка
Третья строка

Попробуем вывести двойную кавычку:

In [ ]:
print(""")

SyntaxError: incomplete input (<ipython-input-7-3f29872ceae9>, line 1)

In [ ]:
print('"')
print("'")
print("\"")

"
'
"

А как вывести слэш?

In [ ]:
print("\")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-11-dff1232de400>, line 1)

In [ ]:
print("\\")
print("\\\\")

\
\\

**Задание**. Написать программу, которая выводит кролика:

![image.png]()

**Задание**. Написать программу, которая выводит птицу:

![image.png]()

Есть особый символ `\n`. Он создает новый абзац. Или по другому — это символ перевода на новую строку.

In [ ]:
print("111")
print("222")

111
222

In [ ]:
print("111\n222")

111
222

# Перменные и их ввод

In [ ]:
a = 5
b = 6
print("a") # вывведет текст, а не значение перменной
print(a)
print(b)
a = 9
print(a)

a
5
6
9

Python - это язык динамической дипизации, а не статической, как C++.

In [ ]:
a = 5
a = 5.6
a = "string"

Пример того же кода на C++:

```cpp
int a = 5;
double b = 5.6;
string c = "string";
```

In [ ]:
a = 6
b = 3
a2 = 6
speed = 6
speed_enemy = 6 # этот стиль называется snake case
speed_enemy_second = 6 # этот стиль называется snake case
PI = 3.14 # константа
GRAVITY = 9.8 # константа
_speed = 6
__speed = 6
_ = 6

bksdkj = 6 # можно, но не нужно
skorost_vraga = 6 # можно, но не нужно
speedEnemy = 6 # можно, но не нужно. Это стиль C++: lower camel case
speedEnemySecond = 6 # можно, но не нужно. Это стиль C++: lower camel case
привет = 6 # можно, но не нужно
再见 = 6 # можно, но не нужно
Hoşça_kalın=6 # можно, но не нужно

# 2a = 6 # так нельзя
# speed enemy = 6 # так нельзя
# speed-enemy = 6 # так нельзя
# +a = 6 # так нельзя

In [ ]:
напечатать = print

напечатать("Hello world!")

Hello world!

a = 6
b = 3
a, b = 6, 3

In [ ]:
# так не нужно
a = 6
b = 3
print(a + b)
a = 6
b = 3
print(a - b)
a = 6
b = 3
print(a * b)
a = 6
b = 3
print(a / b)

9

In [ ]:
a = 6
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)

9
3
18
2.0

In [ ]:
print("Hello world")
print("Hello", "world")

In [ ]:
a, b = 6, 3
c = a + b
print(a, "+", b, "=", c)

6 + 3 = 9

Уберем пробелы

In [ ]:
a, b = 6, 3
c = a + b
print(a, "+", b, "=", c)
print(a, "+", b, "=", c, sep=" ")
print(a, "+", b, "=", c, sep="-")
print(a, "+", b, "=", c, sep="_-`-_")
print(a, "+", b, "=", c, sep="\n")
print(a, "+", b, "=", c, sep="")

6 + 3 = 9
6 + 3 = 9
6-+-3-=-9
6_-`-_+_-`-_3_-`-_=_-`-_9
6
+
3
=
9
6+3=9

In [ ]:
a, b = 6, 3
c = a + b
print(a, "+", b, "=", c, sep="")
print(f"{a}+{b}={c}")
print("{}+{}={}".format(a, b, c))
print("{a}+{b}={c}")
print(f"{a} +{b}=         {c}!")

6+3=9
6+3=9
6+3=9
{a}+{b}={c}
6 +3=         9!

In [ ]:
x = 6
print((x+7)/(x-3) + (3*x+1)/(7-x))

# Арифметические операции

In [ ]:
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 ** 2)

print(5 // 2) # Целочисленное деление
print(5 % 2) # Остаток от деления

7
3
10
2.5
25
2
1

10 % 6 == 4

12 % 3 == 0

3 % 4 == 3

7 % 2 == 1

7 // 2 == 3

12 // 6 == 2

3 // 6 == 0

`a // b == int(a / b)`

Если a / b = 8.123

то a // b = 8

Если a / b = 8.969

то a // b = 8

7 % 2 == 1

14 % 2 == 0

120 % 2 == 0

121 % 2 == 1

1112454788545115721 % 2 == 1

Нечетные числа дают 1 в остатке при делении на 2.

Четные числа дают 0 в остатке при делении на 2.

121 // 10 == 12

69 // 10 == 6

45623 // 10 == 4562

Целочисленное делеление на 10 убирает последнюю цифру.

121 % 10 == 1

69 % 10 == 9

45623 % 10 == 3

Остаток от деления на 10 дает последнюю цифру.

3 % 10 == 3

69 % 12345985 == 69

42 % 12223 == 42

a % b == a, если b > a

In [ ]:
x = int(input())
y = int(input())
print(x + y)

2
3
5

С клавиатуры вводится двузначное число. Найти сумму его цифр.

In [ ]:
x = int(input())
d1 = x % 10
d2 = x // 10
print(d1 + d2)

99
18

С клавиатуры вводится трехзначное число. Найти сумму его цифр.

In [ ]:
x = int(input())
d1 = x % 10
d2 = x // 10
d3 = d2 % 10
d4 = d2 // 10
print(d1 + d3 + d4)

123
6

С клавиатуры вводится шестизначное число. Найти сумму его цифр.

In [ ]:
x=int(input())
y=x%10
z=x//10
a=z//10
b=z%10
c=a//10
v=a%10
s=c//10
f=c%10
n=s//10
k=s%10
p=n//10
o=n%10
print(y+b+v+f+k+o)

In [ ]:
# Вначале вот такой код

x = 6

x = x + 1 # x == 7

In [ ]:
x = int(input())
summa = 0
summa = summa + x % 10
x = x // 10
summa = summa + x % 10
x = x // 10
summa = summa + x % 10
x = x // 10
summa = summa + x % 10
x = x // 10
summa = summa + x % 10
x = x // 10
summa = summa + x % 10
x = x // 10
print(summa)

123456
21

In [ ]:
x = int(input())
summa = x % 10summa = summa + (x // 100) % 10
summa = summa + (x // 10) % 10
summa = summa + (x // 100) % 10
summa = summa + (x // 1000) % 10
summa = summa + (x // 10000) % 10
summa = summa + (x // 100000) % 10
print(summa)

123456
21

C 00:00 прошло x минут (вводятся с клавиатуры). Сколько сейчас показывают электронные часы? Максимум они могут показывать 23:59.

Например, если x = 123, то часы должны показать 2:3

In [ ]:
x = int(input())
m = x % 60
h = (x // 60) % 24
print(f"{h}:{m}")

123456
17:36

Дано четырехзначное число. Написать программу, которая выводит на экран число, образованное при перестановке первой и второй, третьей и четвертой цифр заданного числа.

4561	5416

In [ ]:
x = 5
y = 6
t = 3
z = t*100 + y * 10 + x

In [ ]:
print( "Я"," учусь", " программировать!",sep="" )
print( "2", "+", "2", "=", "4",sep="" )
print( "1", end="" )
print( "23", end="" )
print( "456" )

Я учусь программировать!
2+2=4
123456

# Ввод данных с клавиатуры

In [ ]:
s = input() # строка
print(s + "!")

Hello
Hello!

In [ ]:
a = int(input()) # целое число
print(a + 1)

6
7

In [ ]:
a = float(input()) # вещественное число
print(a + 1)

7.6
8.6

In [ ]:
x = int(input())
y = int(input())
print(x + y)

5
6
11

In [ ]:
x = int(input())
y = int(input())
print(x + y)

5 6

ValueError: invalid literal for int() with base 10: '5 6'

In [ ]:
x, y = map(int, input().split())
print(x + y)

5 6
11

# Перемена значений двух перменных

In [ ]:
x = 5
y = 8

y = 8
x = 5

In [ ]:
x = 5
y = 8

x = y
y = x

In [ ]:
x = 5
y = 8

x2 = x
y2 = y

x = y2
y = x2

print(x, y)

8 5

In [ ]:
x = 5
y = 8

t = x
x = y
y = t

print(x, y)

8 5

In [ ]:
x = 5
y = 8

x = x + y
y = x - y
x = x - y

print(x, y)

8 5

In [ ]:
x = 5
y = 8

x = x * y
y = x // y
x = x // y

print(x, y)

8 5

In [ ]:
x = 5
y = 8

x, y = y, x

print(x, y)

8 5

# Условия

In [ ]:
x = int(input())
if x > 0:
    print(">0")

In [ ]:
x = int(input())
if x > 0:
    print(">0")
else:
    print("<=0")

In [ ]:
x = int(input())
if x > 0:
    print(">0")
else:
    if x < 0:
        print("<0")
    else:
        print("=0")

In [ ]:
x = int(input())
if x > 0:
    print(">0")
    print("Я тут!!")
print("Всегда выведется")

-5
Всегда выведется

In [ ]:
if x > 0:
    print(">0")
    print("Я тут!!")
print("Всегда выведется")
else:
    print("тут")

SyntaxError: invalid syntax (<ipython-input-17-f76689f5b6d8>, line 5)

In [ ]:
if x > 0:
    print(">0")
    print("Я тут!!")
else x<0:
  print("jkasdjk")

SyntaxError: expected ':' (<ipython-input-18-fe230232e76f>, line 4)

In [ ]:
if x > 0:
    print(">0")
    print("Я тут!!")
elif x<0:
  print("jkasdjk")
elif x==0:
  print("jkasdjk")
else:
  print("else")

In [ ]:
if x > 0:
  ...
if x < 0:
  ...
if x <= 0:
  ...
if x >= 0:
  ...
if x == 0:
  ...
if x != 0:
  ...

# Таблицы истинности

![image.png]()

In [ ]:
import itertools

for x, y, z, w in itertools.product([0, 1], repeat=4):
    print(x, y, z, w, int(not ((x or y) <= (z and w)) and (x <= w)))

0 0 0 0 0
0 0 0 1 0
0 0 1 0 0
0 0 1 1 0
0 1 0 0 1
0 1 0 1 1
0 1 1 0 1
0 1 1 1 0
1 0 0 0 0
1 0 0 1 1
1 0 1 0 0
1 0 1 1 0
1 1 0 0 0
1 1 0 1 1
1 1 1 0 0
1 1 1 1 0

In [ ]:
# ((y → z) ∨ (¬x ∧ w)) ≡ (w ≡ z)

import itertools

for x, y, z, w in itertools.product([0, 1], repeat=4):
    t = int(((y <= z) or ((not x) and w)) == (w == z))
    print(x, y, z, w, t)

0 0 0 0 1
0 0 0 1 0
0 0 1 0 0
0 0 1 1 1
0 1 0 0 0
0 1 0 1 0
0 1 1 0 0
0 1 1 1 1
1 0 0 0 1
1 0 0 1 0
1 0 1 0 0
1 0 1 1 1
1 1 0 0 0
1 1 0 1 1
1 1 1 0 0
1 1 1 1 1

In [ ]:
# (x ∨ ¬y) ∧ z

import itertools

for x, y, z in itertools.product([0, 1], repeat=3):
    t = int((x or (not y)) and z)
    print(x, y, z, w, t)

0 0 0 1 0
0 0 1 1 1
0 1 0 1 0
0 1 1 1 0
1 0 0 1 0
1 0 1 1 1
1 1 0 1 0
1 1 1 1 1

# Составные условия

In [ ]:
# x ∧ y
if x and y:
  ...

# x ∨ y
if x or y:
  ...

# x ≡ y
if x == y:
  ...

# x → y
if x <= y:
  ...

# ¬y
if (not y):
  ...


# ((x ∨ ¬y) ∧ (¬z ≡ w)) → (y ∧ z)
if ((x or (not y)) and ((not z) == w)) <= (y and z):
  ...

Вводятся три строки.
Если первая На старт!, вторая Внимание!, а третья Марш!, то нужно вывести: Бежим!, иначе вывести Фальстарт.

In [ ]:
s1 = input()
s2 = input()
s3 = input()
if s1 =="На старт!" and s2 == "Внимание!" and s3 == "Марш!":
  print("Бежим!")
else:
  print ("Фальстарт")

213
1
3
Фальстарт

Вводится три строки. Если они такие:

3
2
1

или такие:

три
два
один

то нужно вывести: ПУСК, иначе вывести ОШИБКА.

In [ ]:
s1 = input()
s2 = input()
s3 = input()
if s1 =="3" and s2 == "2" and s3 == "1" or s1 =="три" and s2 == "два" and s3 == "один":
  print("ПУСК")
else:
  print ("ОШИБКА")

In [ ]:
s1 = input()
s2 = input()
s3 = input()
if s1 =="3" and s2 == "2" and s3 == "1":
  print("ПУСК")
elif s1 =="три" and s2 == "два" and s3 == "один":
  print("ПУСК")
else:
  print ("ОШИБКА")

# Строки. Начало

In [ ]:
s = "Пример"
s2 = "Вася"
s3 = s + s2
print(s3)

ПримерВася

In [ ]:
s = "Пример"

print(s[0])
print(s[1])
print(s[-1])

П
р
р

In [ ]:
s = "Пример"

print("им" in s)
print("бим" in s)

if "им" in s:
  print("им есть в строке")

if "им" not in s:
  print("им нет есть в строке")

True
False
им есть в строке

In [1]:
if 1 + 2 == 3:
  print("OK")
else:
  print("NO")

OK

In [2]:
if 0.1 + 0.2 == 0.3:
  print("OK")
else:
  print("NO")

NO

In [3]:
print(0.1 + 0.2)

0.30000000000000004

In [ ]:
x = 5
x = -x

In [5]:
print(int(2.2))
print(round(2.2))

2
2

In [7]:
print(int(2.5))
print(round(2.5))

2
2

In [8]:
print(int(2.6))
print(round(2.6))

2
3

In [9]:
print(int(2.50000001))
print(round(2.500000001))

2
3

In [12]:
print(round(1/3, 3))
print(round(2/3, 5))

0.333
0.66667

In [15]:
s = "bla 6\n"
print(len(s))

6

In [17]:
print(min(5, 6))
print(max(5, 6))

5
6

In [18]:
print(max(range(5,30)))

29

In [19]:
x = int(input()) # длина сообщения 3
s = input() # текст blabla

k = len(s) // x
if len(s) % x != 0:
  k = k + 1
print(k)

3
blablab
3

In [20]:
x = int(input()) # длина сообщения 3
s = input() # текст blabla

k = len(s) // x + 1 - int(len(s) % x == 0)
print(k)

3
blablab
3

In [22]:
x = 3
print(x >> 1)
print(x << 1)

1
6